.card-header-icon {
  cursor: auto;
}
body {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Change box shadow color for .box */
.box, .tag {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
  /* Change box shadow color for .card */
.card {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
  /* Change box shadow color for .modal */
.modal-card {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
  /* Change box shadow color for .modal-content
  .modal-content {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
  } */
/* Change box shadow color for .modal-box-title */
.modal-card-head {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.modal-background {
  background-color: rgba(10, 10, 10, 0.9); /* Increase the opacity value for a darker background */
}
.hovershad:hover {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}
.hero-body {
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
}
/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  z-index: 1000;
}
.back-to-top:hover {
  background-color: #4258ff;
}
.back-to-top i {
  font-size: 24px;
}
